<form method="post" action="{{ path('gamme_delete', {'id': gamme.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cette gamme?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gamme.id) }}">
    <button class="btn btn-danger mt-1 mb-1">Supprimer</button>
</form>
