<form method="post" action="{{ path('marque_delete', {'id': marque.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cette marque?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ marque.id) }}">
    <button class="btn btn-danger mt-1 mb-1">Supprimer</button>
</form>
