.card {
    width: 18rem;
    margin-top: 10px;
    height: fit-content;
    box-shadow: 2px 5px 7px #000;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
 }

#fond {
    margin-top: 10px;
    box-shadow: 2px 5px 7px #000;
    background-color: #E9F2F1;
}

.card-text {
    text-align: center;
}

