{% extends 'base.html.twig' %}

{% block title %}Qui sommes nous?
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset("libs/css/presentation.css") }}">
{% endblock %}
{% block body %}
	<div class="container">
		<h2>Notre société</h2>

		<p>
			REG-NORD est devenu une société incontournable dans
															le domaine de la Régulation et de l'instrumentation industriel.<br>

			Notre métier est de répondre à vos besoins pour cela
															nous distribuons les plus grandes marques telles que :
			<li>
				<strong>ABB</strong>
			</li>
			<li>
				<strong>CD Automation</strong>
			</li>
			<li>
				<strong>Flowserve</strong>
			</li>
			<li>
				<strong>West</strong>
			</li>
		</p>

		<p>
			Depuis 1984, REG-NORD est spécialiste de la fourniture d'appareils
															de régulation et d'instrumentation industrielles au service des professionnels.<br>

			Située à Douai (France - Nord), REG-NORD répond aux besoins
															des industries, centres de formation et collectivités.<br>

			REG-NORD met à votre disposition toutes l'expérience et la connaissance
															de son personnel pour répondre au mieux à vos besoins.<br>
		</p>
		<hr>
		<h2>Nos compétences</h2>

		<p>
			Fort de son expérience et de son professionnalisme,
												REG-NORD vous accompagne pour les études de vos systèmes
												d'Instrumentations et de Régulation.
												
												Nos compétences sont basées sur le partage des connaissances
												et l'expérience de nos techniciens et ingénieurs.
												
												Nous avons acquis, en travaillant avec les plus grands groupes français et internationaux, des compétences reconnues dans les domaines suivants:

			<li>
				<strong>Agroalimentaire</strong>
			</li>
			<li>
				<strong>Traitement de l'Eau</strong>
			</li>
			<li>
				<strong>Métallurgie</strong>
			</li>
			<li>
				<strong>Plasturgie</strong>
			</li>
			<li>
				<strong>Autmobile</strong>
			</li>
			<li>
				<strong>Chimie</strong>
			</li>
			<li>
				<strong>Cosmétique</strong>
			</li>
			<li>
				<strong>Energie</strong>
			</li>
		</p>
		<hr>
		<h2>Notre culture</h2>

		<p>
			Ainsi REG-NORD possède une connaissance parfaite et précise du matériel et des grandes marques que nous distribuons et cela pour vous proposer les produits répondant parfaitement à vos applications.<br>

			Nous avons acquis un savoir important dans le domaine de l'instrumentation et de la Régulation industrielle grâce aux nombreux cas étudiés "in situ".<br>

			Ce partage de connaissance nous permettra de faire progresser votre société tout en vous garantissant les coûts les plus bas et cela en vous proposant la solution juste à vos besoins.<br>

			Nous considérons que le conseil et le service sont primordiaux dans notre domaine d'activité.
		</p>
	</div>
{% endblock %}
