<div id="footer">
	<div class="slider-marque">
		<div class="slider-wrapper">
        
			<div class="slides-marque">

				{% for media in medias %}
					{% if media.marquee == 1 and media.statut == 1 %}
						<img src="{{ vich_uploader_asset(media,'imageFile') }}" class="img-fluid" alt="">
					{% endif %}
				{% endfor %}

			</div>

			<div class="slides-marque">

				{% for media in medias %}
					{% if media.marquee == 1 and media.statut == 1 %}
						<img src="{{ vich_uploader_asset(media,'imageFile') }}" class="img-fluid" alt="">
					{% endif %}
				{% endfor %}

			</div>

            <div class="slides-marque">

				{% for media in medias %}
				{% if media.marquee == 1 and media.statut == 1 %}
						<img src="{{ vich_uploader_asset(media,'imageFile') }}" class="img-fluid" alt="">
					{% endif %}
				{% endfor %}

			</div>

            <div class="slides-marque">

				{% for media in medias %}
					{% if media.marquee == 1 and media.statut == 1 %}
						<img src="{{ vich_uploader_asset(media,'imageFile') }}" class="img-fluid" alt="">
					{% endif %}
				{% endfor %}

			</div>
		</div>
	</div>
</div>
