<div class="container">
    <div class="text">
    <p>REG-NORD<br>
340 Avenue du quatre Septembre<br>
59500, DOUAI<br>
France</p>
    </div>
    <div class="text">
	<p>Vous désirez un renseignement, un conseil, ou un devis, n'hésitez pas à nous contacter:<br>

        <span class="fa fa-envelope" aria-hidden="true"> contact@reg-nord.com</span><br>
        
         
        Un professionnel saura répondre au mieux à vos attentes.<br>        
       <span class="fa fa-phone" aria-hidden="true"> 03 27 88 33 41</span><br>
       <span class="fa fa-fax" aria-hidden="true"> 03 27 98 95 83</span></p> 
    </div>
</div>


